SUBSYSTEM=="usb", ATTR{idVendor}=="0828", ATTR{idProduct}=="1002", MODE="0666"
SUBSYSTEM=="usb", ATTR{idVendor}=="52cb", ATTR{idProduct}=="52cb", MODE="0666"
